*{
    padding: 0px;
    margin: 0px;
}

.text-center{
    height: 100%;
    align-items: center;
    padding-top:40px;
}

.erreur{
    color: red;
    font-style: italic;
}

.btn{
    vertical-align: baseline;
}

.text-muted{
    font-style: italic;
}

.text-muted:hover{
    text-decoration: none;
}

form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}