#modifMdp{
    justify-content: center!important;
}

.btn{
    vertical-align: baseline;
}

p{
    margin-bottom: 0em;
}

.container input{
    margin-bottom: 1em;
}

.btn-danger{
    margin-bottom: 10%;
}