.bg-dark{
    background-color: #393E46!important;
}

.erreur{
    color: red;
    font-style: italic;
}

.compte{
    vertical-align: baseline;
}

.container{
    margin-top: 2em;
}

.articles{
    border-top: 2px solid black;
}

.bg-dark{
    background-color: #393E46;
}

#top{
    background-color: #F8B500!important;
}

.explications2 p {
    color:white;
    font-size: 1.4em;
}

.explications p{
    color: #393E46;
    font-size: 1.4em;
}

@media (max-width: 768px) {
    .navbar-brand{
        display: none;
    }
    
    .nav-item img{
        display: none;
    }
    
    .mb-2, .my-2 {
        margin-right: 3em;
        text-align: center;
    }
}

@media (min-width: 768px) {
    #compte{
        display: none;
    }
}